body {
    font-family: Arial, sans-serif;
}
.hero {
    background-image: linear-gradient(to bottom, #33ccff, #0099cc);
    color: #fff;
    padding: 100px;
    text-align: center;
}
.hero h1 {
    font-size: 48px;
}
.about {
    padding: 50px;
}
.products {
    padding: 50px;
}
.pricing {
    padding: 50px;
}
.contact {
    padding: 50px;
}
.modal-content {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}